<script type="application/ld+json">
{
  "@context": "https://schema.org",
  {% if site.social.type == "Organization" -%}
    "@type": "Organization",
    "url": {{ '/' | absolute_url | jsonify }}{% if site.og_image %},
    "logo": {{ site_og_image | jsonify }}{% endif %}{% if site.social.links %},
    "sameAs": {{ site.social.links | jsonify }}{% endif %}
  {%- else -%}
    "@type": "Person",
    "name": {{ site.social.name | default: site.name | jsonify }},
    "url": {{ '/' | absolute_url | jsonify }}{% if site.social.links %},
    "sameAs": {{ site.social.links | jsonify }}{% endif %}{% if site.social.alternate_name %},
    "alternateName": {{ site.social.alternate_name | jsonify }}{% endif %}{% if site.social.image %},
    "image": {{ site.social.image | jsonify }}{% endif %}{% if site.social.job_title %},
    "jobTitle": {{ site.social.job_title | jsonify }}{% endif %}{% if site.social.works_for %},
    "worksFor": {
      "@type": "Organization",
      "name": {{ site.social.works_for | jsonify }}
    }{% endif %}{% if site.social.knows_about %},
    "knowsAbout": {{ site.social.knows_about | jsonify }}{% endif %}{% if site.social.description %},
    "description": {{ site.social.description | jsonify }}{% endif %}
  {%- endif %}
}
</script>
