---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

/* disable fade-in intro animation */
$intro-transition: none;
$global-transition: none;

/* hide follow */
.author__urls-wrapper,
.masthead__menu-item--follow {
  display: none !important;
}

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
