---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@font-face {
  font-family: 'Sample';
  src: url('{{ "/assets/fonts/sample.woff2" | relative_url }}') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* disable fade-in intro animation */
$intro-transition: none;
$global-transition: none;

/* hide follow */
.author__urls-wrapper,
.masthead__menu-item--follow {
  display: none !important;
}

/* hide masthead__menu */
@media (max-width: 768px) {
  .sidebar,
  .author__sidebar,
  .author__content {
    display: none !important;
  }
}

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
